@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --colors-gray-100: #D4D7E2;
  --colors-gray-200: #787D8F;
  
  --item-gap: 5px;
  --item-gap-per-row: calc(var(--item-gap) * 4);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-dm-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@utility flex-between {
    @apply flex justify-between items-center;
}

@layer components {
  h1 {
    @apply text-[24px] font-extrabold;
  }

  h2 {
    @apply text-[20px] font-bold;
  }

  h3 {
    @apply text-[16px] font-semibold;
  }

  p {
    @apply text-[15px] font-normal;
  }

  input {
    @apply outline-none border-none;
  }

  input::placeholder {
    @apply text-[var(--colors-gray-200)];
  }

  main {
    @apply w-full min-h-[100vh];
  }

  .menu-overlay {
    @apply fixed top-0 left-0 w-full h-[100vh] text-[var(--background)] bg-(--foreground) z-20;

    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%)
  }

  .menu-link {
    @apply fixed top-1/2 -translate-y-1/2 flex flex-col gap-[8px];
  }

  .about {
    @apply w-full !px-[5%] md:!px-[15%] !my-[2em] flex flex-col gap-3 md:!my-[4em];
  }

  .about > p {
    @apply text-base/7;
  }

  .card-item {
    @apply relative overflow-hidden flex flex-col;
    
    width: calc((100% - var(--item-gap-per-row)) / 5);
  }

  .card-desc {
    @apply absolute !p-[12px] -bottom-[100%] left-0 text-white transition-[bottom] duration-[350ms];
  }

  .card-item::before {
    @apply content-[''] absolute top-0 left-0 opacity-0 w-[100%] h-[100%] ease-in-out duration-200;

    background: linear-gradient(
      180deg, 
      rgba(0, 0, 0, 0) 0%, 
      rgba(0, 0, 0, 0.5) 50%, 
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  .card-item:hover::before {
    @apply opacity-100;
  }

  .card-item:hover .card-desc {
    @apply bottom-0;
  }

  .input-select {
      @apply appearance-none w-full !py-[10px] !pr-[35px] !pl-[15px] 
              text-[16px] border-1 border-[var(--colors-gray-100)] rounded-full cursor-pointer;

      background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 20px;
  }
}


@media (max-width: 1200px) {
  .input-select {
    width: 100%;
  }
}

@media (max-width: 768px) {
  :root {
    --item-gap: 3px;
    --item-gap-per-row: calc(var(--item-gap) * 3);
  }

  .card-item {
    width: calc((100% - var(--item-gap-per-row)) / 4);
  }
}

@media (max-width: 640px) {
  :root {
    --item-gap: 2px !important;
    --item-gap-per-row: calc(var(--item-gap) * 2);
  }

  .card-item {
    width: calc((100% - var(--item-gap-per-row)) / 3);
  }
}